<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YourClient app settings message</title>
  </head>
  <body>
    <section>
      <h4>Hello {{user_name}}!</h4>
      <p>
        In order to reset the password, you need click
        <a
          target="_blank"
          href="{{app_domain}}/auth/reset-pwd?token={{resetToken}}"
          >here</a
        >.
      </p>
      <p>regards</p>
      <p>YourClient app Team</p>
    </section>
  </body>
</html>
