<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YourClient app settings message</title>
  </head>
  <body>
    <section>
      <h4>Hello {{user_name}}!</h4>
      <p>
        In order to further use the services of the YourClient app, you need to
        verify your email. Please click
        <a target="_blank" href="{{app_domain}}/auth/verify?token={{token}}"
          >here</a
        >.
      </p>
    </section>
  </body>
</html>
